
* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	text-align: center;
	width: 100%;
	background-color: black;
}

.content {
	width: 61%;
	margin: 0 auto;

}

header {
	height: 50px;
	background-color: black;
	width: 100%;
}

section {
	height: 600px;
	width: 100%;
	overflow: auto;
	background-color: black;
}

footer {
	height: 50px;
	position: fixed;
	bottom: 0px;
	background-color: black;
	width: 61%;
	text-align: center;
}

.input-msg {
	width: 80%;
	height: 30px;
	resize: none;
	padding: 5px;
	font-size: 18px;
	border: 1px solid #dddddd;

}
.my-msg {
	background-color: #E9967A;
	text-align: right;
	word-wrap: break-word;
}

.other-msg {
	background-color: pink;
	text-align: left;
}

.join-msg {
	background-color: black;
	color: white;
	text-align: center;
}

.left-msg {
	background-color: black;
	color: red;
	text-align: center;
}

.msg {
	word-wrap: break-word;
	padding: 10px;
	margin: 2px 0 2px 0;
}