@media screen and (max-width: 480px) {

	html {
		-webkit-text-size-adjust: none;
	}

	body {
		text-align: center;
		height: 300px;
		background-color: black;
	}
	.content {
		width: 90%;
		text-align: center;
	}
}
